RUNPOD_API_KEY=
# AuthID for ghcr_hellas_bot
RUNPOD_REGISTRY_AUTH_ID=cmqtf5hvp005vieegjb85kq3q

# Optional override. The default is https://rest.runpod.io/v1.
# RUNPOD_API_URL=https://rest.runpod.io/v1
